body {
  font-family: "poppins", sans-serif;
}

#foto-profil {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 80%;
  border: 2px solid #000000ff;
}

#hero {
  background-color: #f5f5f5f5;
}
